stages:
  - test
  - publish
  - deploy

test:
  stage: test
  image: python:3.12-slim
  before_script:
    - apt-get update && apt-get install -y make
    - pip install -r requirements.txt
  script:
    - make test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

publish:
  stage: publish
  image: docker:27
  services:
    - docker:27-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - apk add --no-cache make
  script:
    - make publish
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

deploy:
  stage: deploy
  image: alpine:3.20
  before_script:
    - apk add --no-cache make openssh-client
    - eval "$(ssh-agent -s)"
    - echo "$SSH_PRIVATE_KEY_B64" | base64 -d | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
  script:
    - make deploy
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
